<div class="container ">


  <nav class="navbar navbar-expand navbar-light border-top">
    <a class="navbar-brand footer-text" routerLink="">&copy; Gordon Digital 2020</a>
   <div class="justify-content-end " id="navbarNavAltMarkup">
    <div class="navbar-nav footer-text ">
      <a class="nav-item nav-link active" routerLink="impressum">Impressum<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="datenschutz">Datenschutz<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="https://wifi-multicast.com" target="_blank">Systemhaus</a>

    </div>








</div>
