<div class="container">
  <div class="jumbotron">
    <h1 class="splash-text">Kontakt</h1>
    <b>Gordon Vision</b> ist ein Unternehmen der<br>
<b>Gordon Digital GmbH<br>
Schulstr. 11<br>
80634 München<br></b>

Amtsgericht München Aktenzeichen: HRB 223839<br>
Geschäftsführer: Giuseppe Zedda<br>

Kontakt:<br>
Telefon:     089 901 424 40<br>
Telefax:     089 901 424 39<br>
E-Mail:     info@gordondigital.com<br><br>

Umsatzsteuer-ID: 143/142/11694<br>


  </div>
  <div class=" row ">
    <div class=" zeile col-md-4 col-sm-4 text-left sfondo-1">
      <p class=" display-4 text-left ">Web Design</p>

    </div>
    <div class=" zeile col-md-4 col-sm-4 text-left sfondo-2">
      <p class=" display-4 text-left ">Web Apps</p>

    </div>
    <div class=" col-md-4 col-sm-4 text-left sfondo-3">
      <p class=" display-4 text-left ">SEO</p>

    </div>

  </div>

</div>
