<div class="container ">
  <div class="row d-none d-sm-flex ">
    <!-- Darstellung ab d-none d-sm-flex Smartphone -->
    <div class=" col-xl-4 col-lg-4 col-md-4 col-sm-4 text-left  my-auto">
      <!-- Da Vertical align bei col nicht funktioniert, class my-auto -->
      <p class=" zeile display-4 splash-text">SEO & Online Marketing</p>
      <p>Ihre Website auf dem Weg nach oben.</p>
    </div>
    <div class=" col-md-8 col-sm-8 text-right">
      <img src=".\assets\seo-770-512-opti.jpg" class="w-100" />
    </div>
  </div>
  <div class="row d-sm-none ">
    <!-- Darstellung für Smartphone d-sm-none -->
    <div class=" col-md-8 col-sm-8 text-right">
      <img src=".\assets\seo-770-512-opti.jpg" class="w-100" />
    </div>
    <div class=" zeile col-xl-4 col-lg-4 col-md-4 col-sm-4 text-left  my-auto">
      <!-- Da Vertical align bei col nicht funktioniert, class my-auto -->
      <p class=" display-4 splash-text">SEO & Online Marketing</p>
      <p>Ihre Website auf dem Weg nach oben.</p>
    </div>

  </div>


  <div class=" row ">
    <div class=" zeile col-md-4  text-left sfondo-1">
      <p class=" display-4 text-left ">SEO</p>
      <p>Wenn Sie uns Ihre Internet-Präsenz anvertrauen, sorgen wir dafür, daß Ihre Website nicht nur schön, sondern auch <b>leicht zu finden</b> ist. Durch den Einsatz von <b>SEO Techniken</b>, die drastisch Ihre Auffindbarkeit bei Google sowie bei anderen Suchmaschinen verbessern, verkürzen wir den Weg, der zu Ihnen führt.</p>
    </div>
    <div class=" zeile col-md-4  text-left sfondo-2">
      <p class=" display-4 text-left ">Effektiv</p>
      <p>Ziel der <b>Optimierung</b> ist, die Website bei den Suchergebnissen <b>nach oben</b> zu bringen, ohne teure Anzeigen einschalten zu müssen. Das können Sie als legales Doping für Ihre Website verstehen.</p>
    </div>
    <div class=" col-md-4  text-left sfondo-3">
      <p class=" display-4 text-left ">Audit</p>
      <p>Ein <b>SEO-Audit</b> ist eine Bestandsaufnahme und ist die Basis für eine erfolgreiche <b>Suchmaschine-Optimierung</b>. Wir haben eine Checkliste, die systematisch durchgearbeitet wird. Da der Gastgeber die Hausordnung bestimmt, halten wir uns streng an den Richtlinien von Google.</p>
    </div>

  </div>

</div>

