<div class="container ">
  <div class="row d-none d-sm-flex ">
    <!-- Darstellung ab d-none d-sm-flex Smartphone -->
    <div class=" col-xl-4 col-lg-4 col-md-4 col-sm-4 text-left  my-auto">
      <!-- Da Vertical align bei col nicht funktioniert, class my-auto -->
      <p class=" zeile display-4 splash-text">Web Design</p>
      <p>Eine spannende neue Welt dank offener Standards und nativer Webkomponenten.</p>
    </div>
    <div class=" col-md-8 col-sm-8 text-right">
      <img src=".\assets\webdesign-770-512-opti.jpg" class="w-100" />
    </div>
  </div>
  <div class="row d-sm-none ">
    <!-- Darstellung für Smartphone d-sm-none -->
    <div class=" col-md-8 col-sm-8 text-right">
      <img src=".\assets\webdesign-770-512-opti.jpg" class="w-100" />
    </div>
    <div class=" zeile col-xl-4 col-lg-4 col-md-4 col-sm-4 text-left  my-auto">
      <!-- Da Vertical align bei col nicht funktioniert, class my-auto -->
      <p class=" display-4 splash-text">Web Design</p>
      <p>Eine spannende neue Welt dank offener Standards und nativer Webkomponenten.</p>
    </div>

  </div>


  <div class=" row ">
    <div class=" zeile col-md-4  text-left sfondo-1">
      <p class=" display-4 text-left ">Modern</p>
      <p><b> Modernes Webdesign </b>basiert bevorzugt auf offenen Standards und nativen Webkomponenten. HTML5, CSS und Javascript.</p>
    </div>
    <div class=" zeile col-md-4  text-left sfondo-2">
      <p class=" display-4 text-left ">CMS</p>
      <p><b>Wordpress</b> eignet sich hervorragendend, wenn der Kunde die Inhalte selbst pflegen möchte, oder als Basis für <b>Webshops</b>. Wir entwicklen neue Themen und Plugins für unsere Kunden, oder ergänzen eine bestehende Programmierung.</p>
    </div>
    <div class=" col-md-4  text-left sfondo-3">
      <p class=" display-4 text-left ">Schnell</p>
      <p>Eine SPA <b>Single Page Application</b>, wo die Inhalte dynamisch nachgeladen werden, entlastet die Verbindung zum Server und reduziert die Wartezeiten. Wir verwenden bevorzugt <b>Angular</b> und <b>Node.js</b> in Verbindung mit <b>Bootstrap</b> für unsere Projekte.</p>
    </div>

  </div>

</div>

