<div class="container ">
  <div class="row d-none d-sm-flex ">
    <!-- Darstellung ab d-none d-sm-flex Smartphone -->
    <div class=" col-xl-4 col-lg-4 col-md-4 col-sm-4 text-left  my-auto">
      <!-- Da Vertical align bei col nicht funktioniert, class my-auto -->
      <p class=" zeile display-4 splash-text">Neue Web Apps</p>
      <p>Einheitliche Programmierung für alle Geräte.</p>
    </div>
    <div class=" col-md-8 col-sm-8 text-right">
      <img src=".\assets\webapp-770-512-opti.jpg" class="w-100" />
    </div>
  </div>
  <div class="row d-sm-none ">
    <!-- Darstellung für Smartphone d-sm-none -->
    <div class=" col-md-8 col-sm-8 text-right">
      <img src=".\assets\webapp-770-512-opti.jpg" class="w-100" />
    </div>
    <div class=" zeile col-xl-4 col-lg-4 col-md-4 col-sm-4 text-left  my-auto">
      <!-- Da Vertical align bei col nicht funktioniert, class my-auto -->
      <p class=" display-4 splash-text">Neue Web Apps</p>
      <p>Einheitliche Programmierung für alle Geräte.</p>
    </div>

  </div>


  <div class=" row ">
    <div class=" zeile col-md-4  text-left sfondo-1">
      <p class=" display-4 text-left ">PWA</p>
      <p>Eine <b> Progressive Web Application </b>erhält das Aussehen und die Funktionalität einer nativen Anwendung. Damit geht die parallele Entwicklung von Websites und Apps endlich zu Ende. Diese Applikation lässt sich wie vertraut installieren, inklusive Icon auf dem Home Bildschirm.</p>
    </div>
    <div class=" zeile col-md-4  text-left sfondo-2">
      <p class=" display-4 text-left ">Offline</p>
      <p>Ein <b>Service Worker</b> garantiert eine einwandfreie Funktionalität auch offline. Durch eine ausgeklügelte Optimierung ist die Ladezeit bei jeder Verbindung erheblich verkürzt.</p>
    </div>
    <div class=" col-md-4  text-left sfondo-3">
      <p class=" display-4 text-left ">Standard</p>
      <p>Mit der stetig wachsenden Unterstützung der modernen <b>Web Technologien</b> erweitern sich fast täglich die Einsatzmöglichkeiten dieser offenen Standards. Fetch API, Push API, Cache API, IndexedDB, Gamepad API, Web Speech.</p>
    </div>

  </div>

</div>

