<div class="container ">
  <div class="row d-none d-sm-flex ">
    <!-- Darstellung ab d-none d-sm-flex Smartphone -->
    <div class=" col-xl-4 col-lg-4 col-md-4 col-sm-4 text-left  my-auto">
      <!-- Da Vertical align bei col nicht funktioniert, class my-auto -->
      <p class=" zeile display-4 splash-text">Gordon Vision</p>
      <p>Moderne Webentwicklung. Für alle Anwendungsbereiche. Von Gordon Digital.</p>
    </div>
    <div class=" col-md-8 col-sm-8 text-right">
      <img src=".\assets\gordon-vision-770-512-opti.jpg" class="w-100" />
    </div>
  </div>
  <div class="row d-sm-none ">
    <!-- Darstellung für Smartphone d-sm-none -->
    <div class=" col-md-8 col-sm-8 text-right">
      <img src=".\assets\gordon-vision-770-512-opti.jpg" class="w-100" />
    </div>
    <div class=" zeile col-xl-4 col-lg-4 col-md-4 col-sm-4 text-left  my-auto">
      <!-- Da Vertical align bei col nicht funktioniert, class my-auto -->
      <p class=" display-4 splash-text">Gordon Vision</p>
      <p>Moderne Webentwicklung. Für alle Anwendungsbereiche. Von Gordon Digital.</p>
    </div>

  </div>


  <div class=" row ">
    <div class=" zeile col-md-4 col-sm-4 text-left sfondo-1">
      <a class="nav-item active display-4 text-left "routerLink="webdesign">Web Design</a>
      <p>Modernes Webdesign dank offener Standards und nativer Webkomponenten</p>
    </div>
    <div class=" zeile col-md-4 col-sm-4 text-left sfondo-2">
      <a class=" nav-item active display-4 text-left "routerLink="webapp">Web Apps</a>
      <p>Eine Programmierung für alle Plattformen</p>
    </div>
    <div class=" col-md-4 col-sm-4 text-left sfondo-3">
      <a class=" nav-item active display-4 text-left "routerLink="seo">SEO</a>
      <p>Legales Doping für Ihre Website</p>
    </div>

  </div>

</div>
