.zeile{
  /* margin: 0.5rem; */
  padding-bottom: 1.5rem;
  border: 0.5rem;
  /* border-radius: 4%; */
}
.sfondo-1{
  background-color: #80ccff;
}
.sfondo-2{
  background-color: #b3e0ff;
}
.sfondo-3{
  background-color: #e6f5ff;
}
.splash-text{
  color: #0099ff;
}
a{
  text-decoration: none;
  color: inherit;
}
a:active{

}
